@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
  font-family: "Pt Sans";
  background: no-repeat url(./images/favicon.jpg) fixed;
  background-position: bottom 35px right -4%;
  min-width: 100%;
  background-color: #74c0f0bb;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}

/* Statistics */
.statistics {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  cursor: default;
}
.statistics .style1 {
  background-color: #efa8b0;
  padding: 1.5em 4.5em;
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.statistics .style2 {
  flex: 1;
  background-color: #c79cc8;
  padding: 1.5em 4.5em;
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
}
.statistics .style3 {
  flex: 1;
  background-color: #94f08c;
  padding: 1.5em 4.5em;
  color: #ffffff;
  text-align: center;
  font-size: 1.1em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.statistics .style4 {
  flex: 1;
  background-color: #fa6b725d;
  padding: 1.5em 4.5em;
  color: #ffffff;
  text-align: center;
  font-size: 1.1em;
}
.statistics strong,
.statistics b {
  display: block;
  font-size: 3em;
  line-height: 1.1;
  color: inherit !important;
  font-weight: 300;
  letter-spacing: -0.025em;
}
@media screen and (max-width: 980px) and (min-width: 737px) {
  .statistics li strong,
  .statistics li b {
    font-size: 3em;
  }
}
@media only screen and (max-width: 736px) {
  .navbar {
    position: sticky;
  }
  .statistics {
    display: block;
    max-width: 100%;
  }
  .statistics li:first-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
  }
  .statistics li:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }
  .statistics li strong,
  .statistics li b {
    font-size: 4em;
  }

  .container-fluid {
    font-size: 1.5em;
  }

  .card-title {
    font-size: 1.35em;
  }
  h1, h2, h3, h4 {
    font-size: 2em;
  }
}

.shadow-class {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  font-size: 1.5em;
}

.navbar-brand {
  font-size: 1.5em;
}

.fake {
  border-left: solid 0.2em rgb(245, 63, 63);
}

.true { 
  border-left: solid 0.2em rgb(95, 236, 95);
}
img {
  border-radius: 10px;
}

.container-fluid {
  font-size: 1.2em;
}

.card-title {
  font-size: 1.1em;
}
 h1, h2, h3, h4 {
   font-size: 2em;
   font-family: "Caveat Brush";
 }

 .card {
   height: 150px;
   overflow-y: auto;
 }
 #stayhome {
   font-size: 100px;
   text-indent: -2em;
   font-family: "Caveat Brush";
 }
 #button i{
   display: none;
   position: absolute;
   padding: 15px;
   bottom: 30px;
   right: 20px;
   box-shadow: 2px 2px 15px #000;
   border-radius: 10px;
   color: rgba(0, 0, 0, 0.37);
   font-weight: 300;
   background-color: #74c0f0bb;
 }
 p {
   text-align: justify;
 }
#p-indent p {
  text-indent: 2em;
  padding: 1em 1em;
  line-height: 1.7em;
  font-size: 24px;
}
#p-indent img {
  border-radius: 10px;
  box-shadow: 2px 2px 20px #000;
  padding: 0.5em;
  margin: 1.5em;
}

.do-true {
  background-color: #e7f4ea;
  border-radius: 15px;
  font-weight: 500;
  color: rgb(36, 189, 36);
  box-shadow: 0px 16px 20px -25px rgba(0,0,0,0.69);
  font-size: 1.2em;
  text-align: start;
}

.dont {
  background-color: #fbe8e7;
  border-radius: 15px;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.671);
  box-shadow: 0px 16px 20px -25px rgba(0,0,0,0.69);
  font-size: 1.2em;
  text-align: start;
}

.card .dont {
  flex: 0 0 auto;
}

.hs {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.hs .card {
  max-width: 25%;
  height: 180px;
  max-width: 250px;
  padding: .25rem;
  margin-bottom: 1rem;
  border: 0;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 24px;
}
.hs p {
  text-align: start !important;
}