body {
}

/* Statistics */
.statistics {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  cursor: default;
}
.statistics .style1 {
  background-color: #efa8b0;
  padding: 1.5em 4.5em;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.statistics .style2 {
  flex: 1;
  background-color: #c79cc8;
  padding: 1.5em 4.5em;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
.statistics .style3 {
  flex: 1;
  background-color: #8cc9f0;
  padding: 1.5em 4.5em;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.statistics strong,
.statistics b {
  display: block;
  font-size: 3em;
  line-height: 1.1;
  color: inherit !important;
  font-weight: 300;
  letter-spacing: -0.025em;
}
@media screen and (max-width: 980px) {
  .statistics li strong,
  .statistics li b {
    font-size: 3em;
  }
}
@media screen and (max-width: 736px) {
  .statistics {
    display: block;
    max-width: 100%;
  }
  .statistics li:first-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
  }
  .statistics li:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }
  .statistics li strong,
  .statistics li b {
    font-size: 4em;
  }
}
